<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongj.dao.FsGroupMapper">
  <update id="updateFsGroupModeById">
    update fs_group
    set mode = #{mode},
    update_time = now()
    where id = #{id}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.yongj.dao.FsGroup">
    select *
    from fs_group
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findByPage" resultType="com.yongj.dao.FsGroup">
    select *
    from fs_group
    <where>
      <if test="p.id != null">
        id = #{p.id}
      </if>
      <if test="p.name != null">
        and name like "%"#{p.name}"%"
      </if>
      <if test="p.mode != null">
        and mode = #{p.mode}
      </if>
    </where>
    order by id desc
  </select>
</mapper>