<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongj.dao.VFolderMapper">

  <select id="findVFolderForUser" resultType="com.yongj.dao.VFolder">
    select vf.* from vfolder vf
    left join user_vfolder uv on vf.folder_no = uv.folder_no
    where uv.user_no = #{userNo}
    and uv.folder_no = #{folderNo}
    limit 1
  </select>

  <select id="findIdForFolderWithName" resultType="java.lang.Integer">
    select vf.id from vfolder vf
    left join user_vfolder uv on vf.folder_no = uv.folder_no
    where uv.user_no = #{userNo}
    and vf.name = #{name}
    limit 1
  </select>

</mapper>